.carousel-caption {
    top: 20%;
    bottom: auto;
}

.carousel-item {
    overflow: none;
    height: 60%;
    font-family: Lato, sans-serif;
}

.why-us {
    margin-top: 5%;
}

.about {
    background-image: url(img/jouney.jpg);
    opacity: .5;
    height: 100%;
    margin-top: 5%;
    ;
}

footer {
    background-color: rgb(47, 48, 47);
    height: 50%;
    color: whitesmoke;
}

.jumbotron {
    margin-left: 5%;
    margin-right: 5%;
    height: 40%;
}

body {
    font-family: Lato;
}

.section-plans {
    margin-top: 5%;
    ;
}

.card {
    margin-top: 3%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}