.navbar-brand {
    font-size: 2rem;
    font-family: 'Satisfy', cursive;
    color: rgb(64, 88, 67);
}

.navbar-nav li {
    padding-right: .6rem;
}

.carousel-caption {
    top: 20%;
    bottom: auto;
}

.carousel-item {
    overflow: none;
    height: 60%;
    font-family: Lato, sans-serif;
}

.why-us {
    margin-top: 5%;
}

.bg {
    margin-top: 5%;
    background-image: url(img/jouney.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    ;
}

.text {
    position: relative;
    z-index: -1;
}

footer {
    background-color: rgb(47, 48, 47);
    height: 50%;
    color: whitesmoke;
}

.jumbotron {
    margin-left: 5%;
    margin-right: 5%;
    height: 40%;
}

body {
    font-family: Lato;
}

.section-plans {
    margin-top: 5%;
    ;
}

.card {
    margin-top: 3%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}